<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: measurement %>
    <%= form_with model: measurement, class: "space-y-4" do |form| %>
      <div>
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, autocomplete: "name", autofocus: true, required: true, class: "form-input" %>
      </div>

      <div>
        <%= form.label :unit, class: "form-label" %>
        <%= form.text_field :unit, autocomplete: "unit", required: true, class: "form-input" %>
      </div>

      <div>
        <%= form.label :tonne_ratio, class: "form-label" %>
        <%= form.number_field :tonne_ratio, autocomplete: "tonne-ratio", class: "form-input", step: ".1" %>
        <p class="mt-3 text-sm leading-6 text-gray-600"><%= t("forms.tonne_ratio_description") %></p>
      </div>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>