<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: category %>
    <%= form_with model: category, class: "space-y-4" do |form| %>
      <div>
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, autocomplete: "name", autofocus: true, required: true, class: "form-input" %>
      </div>

      <div>
        <%= form.label :kind, class: "form-label" %>
        <%= form.select :kind, options_for_enum_select(Category, :kind, category.kind), { include_blank: true }, required: true, class: "form-input" %>
      </div>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>