<%= turbo_frame_tag dom_id(@generation, :records) do %>
  <div>
    <nav class="isolate flex divide-x divide-gray-200 rounded-lg shadow" aria-label="Tabs">
      <%= link_to production_plan_unit_batch_distribution_distributed_product_generation_boxes_path(@plan, @production_unit, @batch, @distributed_product), data: { turbo_frame: dom_id(@generation, :records) }, class: "group relative min-w-0 flex-1 overflow-hidden rounded-l-lg bg-white px-4 py-4 text-center text-sm font-medium text-gray-900 hover:bg-gray-50 focus:z-10" do %>
        <span><%= t("tables.cols.boxes") %></span>
        <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-indigo-500"></span>
      <% end %>
      <%= link_to production_plan_unit_batch_distribution_distributed_product_generation_pallets_path(@plan, @production_unit, @batch, @distributed_product), data: { turbo_frame: dom_id(@generation, :records) }, class: "group relative min-w-0 flex-1 overflow-hidden rounded-r-lg bg-white px-4 py-4 text-center text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 focus:z-10" do %>
        <span><%= t("tables.cols.pallets") %></span>
        <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
      <% end %>
    </nav>
  </div>

  <div class="mt-10">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900"><%= t("tables.cols.boxes") %></h1>
        <p class="mt-2 text-sm text-gray-700"><%= t("forms.boxes_to_print") %></p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <% if @generation.box_progress_completed? %>
          <% download_path = download_production_plan_unit_batch_distribution_distributed_product_generation_boxes_path(@plan, @production_unit, @batch, @distributed_product) %>

          <% if @generation.boxes_download.present? %>
            <% if @generation.boxes_download.processing? %>
              <span class="btn"><%= t("actions.loading") %></span>
            <% elsif @generation.boxes_download.completed? && @generation.boxes_download.archive.attached? %>
              <%= button_to t("actions.repeat_download"), download_path, data: { turbo: false }, class: "btn" %>
              <%= link_to t("actions.download_all"), rails_blob_path(@generation.boxes_download.archive, disposition: "attachment"), class: "mt-2 btn" %>
            <% else %>
              <%= button_to t("actions.prepare_download"), download_path, data: { turbo: false }, class: "btn" %>
            <% end %>
          <% else %>
            <%= button_to t("actions.prepare_download"), download_path, data: { turbo: false }, class: "btn" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"><%= t("tables.cols.code") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t("tables.cols.region") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t("tables.cols.product") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t("tables.cols.box_capacity") %></th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                <span class="sr-only"><%= t("actions.edit_record") %></span>
              </th>
            </tr>
            </thead>
            <tbody class="bg-white">
            <%= render partial: "production/plans/production_units/batches/distributions/distributed_products/generations/boxes/box", collection: @boxes, as: :box %>
            </tbody>
          </table>
          <%== pagy_nav(@pagy) %>
        </div>
      </div>
    </div>
  </div>
<% end %>