<div id="<%= dom_id production_unit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Plan:</strong>
    <%= production_unit.plan_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= production_unit.group_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Count:</strong>
    <%= production_unit.count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tonnage:</strong>
    <%= production_unit.tonnage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= production_unit.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= production_unit.comment %>
  </p>

</div>
