<div class="table-row">
  <div class="table-cell w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-0">
    <%= material_asset.article %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= material_asset.name %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= material_asset.supplier.name %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-900 font-medium">
    <%= number_with_delimiter material_asset.available_count %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= material_asset.measurement.unit %>
  </div>
  <div class="table-cell py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
    <%= link_to t("actions.show_record"), supply_material_asset_path(material_asset), class: "text-indigo-600 hover:text-indigo-900" %>
  </div>
</div>