<% content_for(:title) { @user.name } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: users_path, title: t("pages.users")),
      NavLink.new(path: user_profile_path(@user), title: @user.name),
    ]
  } %>
<% end %>

<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= fields_for @user do |form| %>
      <div class="space-y-4">
        <div>
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, readonly: true, class: "form-input" %>
        </div>

        <div>
          <%= form.label :email_address, class: "form-label" %>
          <%= form.email_field :email_address, readonly: true, class: "form-input" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "users/transfer", user: @user %>
  </div>
</div>
