<% content_for(:title) { t("pages.cooking") } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: production_plans_path(kind: @plan.kind), title: t("pages.#{ @plan.kind }_production_plans")),
      NavLink.new(path: production_plan_path(@plan), title: t("pages.production_plan", date: l(@plan.production_date))),
      NavLink.new(path: production_plan_unit_path(@plan, @production_unit), title: @production_unit.group.name),
      NavLink.new(path: production_plan_unit_batch_path(@plan, @production_unit, @batch), title: t("pages.batch", id: @batch.id)),
      NavLink.new(path: production_plan_unit_batch_cooking_path(@plan, @production_unit, @batch), title: t("pages.cooking"))
    ]
  } %>
<% end %>

<div>
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900"><%= @batch.production_unit.group.name %></h1>
    <%= render "production/plans/production_units/batches/action", batch: @batch %>
  </div>
  <div class="mt-6" aria-hidden="true">
    <div class="overflow-hidden rounded-full bg-gray-200">
      <div class="h-2 rounded-full bg-indigo-600" style="width: <%= @batch.progress %>%"></div>
    </div>
  </div>

  <% if @batch.cancelled? %>
    <div class="mt-6 flex justify-between">
      <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900"><%= t("forms.cancel_reason") %></h1>
      <%= text_area_tag :comment, @batch.comment, class: "form-area w-1/3", readonly: true %>
    </div>
  <% end %>

  <% if @batch.journals.any? %>
    <div class="mt-10">
      <%= turbo_frame_tag dom_id(@batch, :journals) do %>
        <div class="flex flex-row space-x-2">
          <%= render "production/plans/production_units/batches/journals/side_nav" %>

          <div class="w-full">
            <ul role="list" class="space-y-3">
              <%= tag.li id: dom_id(@cooking), class: "rounded-md bg-white p-6 shadow#{ cooking_color @cooking }" do %>
                <div class="grid grid-cols-1 gap-2">
                  <div>
                    <div class="text-xl leading-6 font-medium text-gray-900">
                      <%= t("pages.cooking") %>
                    </div>
                    <div class="mt-4">
                      <%= turbo_frame_tag dom_id(@cooking, :semi_products), src: production_plan_unit_batch_cooking_cooked_semi_products_path(@plan, @production_unit, @batch) %>
                    </div>
                    <div class="mt-4">
                      <%= render "reason", cooking: @cooking %>
                    </div>
                  </div>
                  <div class="sm:flex sm:items-end sm:justify-end">
                    <%= render "action", cooking: @cooking %>
                  </div>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>