<% content_for(:title) { t("pages.sign_in") } %>
<% turbo_page_requires_reload %>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: session_path, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :email_address, User.human_attribute_name(:email_address), class: "form-label" %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email-address", value: params[:email_address], class: "form-input" %>
      </div>

      <div>
        <%= form.label :password, User.human_attribute_name(:password), class: "form-label" %>
        <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72, class: "form-input" %>
      </div>

      <%= form.submit t("actions.sign_in"), id: "sign-in", class: "btn" %>
    <% end %>
  </div>
</div>