<% content_for(:title) { "Sign in" } %>
<% turbo_page_requires_reload %>

<%= form_with url: session_path do |form| %>
  <div>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email_address", placeholder: "Enter your email address", value: params[:email_address] %>
  </div>

  <div>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %>
  </div>

  <%= form.submit "Sign in" %>
<% end %>

<% content_for(:footer) do %>
  <div class="txt-align-center center margin-block-double txt-subtle">MilkyLand&trade; version <%= version_badge %></div>
<% end %>