<div class="flex flex-col justify-center px-6 lg:px-8" data-controller="supply-order" data-supply-order-search-url-value="<%= search_transactions_path %>">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: transaction %>
    <%= form_with model: transaction, class: "space-y-4" do |form| %>
      <%= form.hidden_field :kind %>

      <div>
        <%= form.label :bank_account_id, class: "form-label" %>
        <%= form.select :bank_account_id, options_from_collection_for_select(BankAccount.all, :id, :name, transaction.bank_account_id), { include_blank: true }, { required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :article_id, class: "form-label" %>
        <%= form.select :article_id, options_from_collection_for_select(@articles, :id, :name, transaction.article_id), { include_blank: true }, { required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :amount, class: "form-label" %>
        <%= form.number_field :amount, autocomplete: "amount", class: "form-input", step: ".1" %>
      </div>

      <div>
        <%= form.label :comment, class: "form-label" %>
        <%= form.textarea :comment, autocomplete: "comment", rows: 3, class: "form-area" %>
      </div>

      <div>
        <%= form.label :planned_date, class: "form-label" %>
        <%= form.date_field :planned_date, autocomplete: "planned-date", class: "form-input" %>
      </div>

      <% if @kind == "income" %>
        <div>
          <%= form.hidden_field :contragent_type, value: "Client" %>
          <%= form.label :contragent_id, class: "form-label" %>
          <%= form.select :contragent_id, options_from_collection_for_select(Client.ordered, :id, :name, transaction.contragent_id), { include_blank: true }, { required: false, class: "form-select" } %>
        </div>
      <% else %>
        <div>
          <%= form.label :material_asset_id, class: "form-label" %>
          <%= form.select :material_asset_id, options_from_collection_for_select(MaterialAsset.combined_assets, :id, :name, transaction.material_asset_id), { include_blank: t("actions.search_by_name") }, { required: false, class: "form-select", data: { controller: "choices", choices_placeholder_value: t("actions.search_by_name"), choices_results_value: t("actions.no_results_text"), choices_choices_value: t("actions.no_choices_text"), action: "change->supply-order#refreshVendors" } } %>
        </div>
        <div>
          <%= form.hidden_field :contragent_type, value: "Supplier" %>
          <%= form.label :contragent_id, class: "form-label" %>
          <%= form.select :contragent_id, options_from_collection_for_select(@vendors, :supplier_id, :display_label, transaction.contragent_id), { include_blank: true }, { required: false, class: "form-select" } %>
        </div>
      <% end %>

      <% unless transaction.new_record? %>
        <% if allowed_to?(:approve?, transaction) %>
          <% if allowed_to?(:confirm?, transaction) %>
            <div>
              <%= form.label :status, class: "form-label" %>
              <%= form.select :status, options_for_enum_select(Transaction, :status, transaction.status, excluded_options: %i[ completed cancelled ]), { include_blank: true }, { required: true, class: "form-select" } %>
            </div>
          <% end %>
          <% if allowed_to?(:complete?, transaction) %>
            <div>
              <%= form.label :execution_date, class: "form-label" %>
              <%= form.date_field :execution_date, autocomplete: "execution-date", class: "form-input" %>
            </div>
            <div>
              <%= form.label :status, class: "form-label" %>
              <%= form.select :status, options_for_enum_select(Transaction, :status, transaction.status, excluded_options: %i[ pending cancelled ]), { include_blank: true }, { required: true, class: "form-select" } %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>