<% content_for(:title) { t("pages.transactions") } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: transactions_path, title: t("pages.transactions")),
    ]
  } %>
<% end %>

<div class="px-4 sm:px-6 lg:px-8">
  <%= render "tab" %>
  <div class="sm:mt-8 sm:flex sm:items-center">
    <%= render "search" %>
    <div class="mt-4 sm:ml-4 sm:mt-0 sm:flex-none">
      <% if allowed_to?(:create?, with: TransactionPolicy) %>
        <%= link_to new_transaction_path(kind: "income"), class: "btn-create" do %>
          <%= inline_svg_tag "plus.svg", class: "size-5" %>
          <%= t("actions.create_income") %>
        <% end %>
        <%= link_to new_transaction_path(kind: "expense"), class: "btn-create" do %>
          <%= inline_svg_tag "plus.svg", class: "size-5" %>
          <%= t("actions.create_expense") %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="-mx-4 mt-4 sm:mt-8 sm:-mx-0">
    <div class="table border-collapse min-w-full divide-y divide-gray-300">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
            <%= Transaction.human_attribute_name(:planned_date) %>
          </div>
          <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            <%= Transaction.human_attribute_name(:kind) %>
          </div>
          <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            <%= Transaction.human_attribute_name(:amount) %>
          </div>
          <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            <%= Transaction.human_attribute_name(:bank_account_id) %>
          </div>
          <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            <%= Transaction.human_attribute_name(:article_id) %>
          </div>
          <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            <%= Transaction.human_attribute_name(:client_id) %>
          </div>
          <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            <%= Transaction.human_attribute_name(:material_asset_id) %>
          </div>
          <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            <%= Transaction.human_attribute_name(:status) %>
          </div>
          <div class="table-cell relative py-3.5 pl-3 pr-4 sm:pr-0"></div>
        </div>
      </div>
      <div class="table-row-group border-collapse divide-y divide-gray-200 bg-white">
        <%= render @transactions %>
      </div>
    </div>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
