<% content_for(:title) { t("pages.shipment", date: l(@shipment.shipping_date), region: @shipment.region.name) } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: shipments_path(status: @shipment.status), title: t("pages.shipments")),
      NavLink.new(path: shipment_path(@shipment), title: t("pages.shipment", date: l(@shipment.shipping_date), region: @shipment.region.name))
    ]
  } %>
<% end %>

<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full">
    <%= fields_for @shipment do |form| %>
      <div>
        <div class="space-y-12">
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
              <% if @shipment.plan.present? %>
                <div class="sm:col-span-4">
                  <%= label_tag :production_date, Plan.human_attribute_name(:production_date), class: "form-label" %>
                  <%= date_field_tag :production_date, @shipment.plan.production_date, disabled: true, class: "mt-2 form-input" %>
                </div>
              <% end %>
              <div class="sm:col-span-4">
                <%= form.label :region_id, class: "form-label" %>
                <%= form.select :region_id, options_from_collection_for_select(Region.ordered, :id, :name, @shipment.region_id), {}, { disabled: true, class: "mt-2 form-select" } %>
              </div>
              <div class="sm:col-span-4">
                <%= form.label :kind, class: "form-label" %>
                <%= form.select :kind, options_for_enum_select(Shipment, :kind, @shipment.kind), {}, { disabled: true, class: "mt-2 form-select" } %>
              </div>
              <% if @shipment.external? %>
                <div class="sm:col-span-4">
                  <%= form.label :client_id, class: "form-label" %>
                  <%= form.select :client_id, options_from_collection_for_select(@shipment.clients, :id, :name, @shipment.client_id), {}, { disabled: true, class: "mt-2 form-select" } %>
                </div>
              <% end %>
              <div class="sm:col-span-4">
                <%= form.label :shipping_date, class: "form-label" %>
                <%= form.date_field :shipping_date, readonly: true, class: "mt-2 form-input" %>
              </div>
              <div class="sm:col-span-4">
                <%= form.label :status, class: "form-label" %>
                <%= form.select :status, options_for_enum_select(Shipment, :status, @shipment.status, excluded_options: %i[ completed ]), {}, { disabled: true, class: "mt-2 form-select" } %>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.route_sheets") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
              <div class="sm:col-span-full">
                <%= turbo_frame_tag dom_id(@shipment, :route_sheets), src: shipment_route_sheets_path(@shipment, readonly: true) do %>
                  <%= inline_svg_tag "spinner.svg" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
