<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: returned_product %>
    <%= form_with model: [@return, returned_product], class: "space-y-4" do |form| %>
      <div>
        <%= form.label :product_id, class: "form-label" %>
        <%= form.select :product_id, options_from_collection_for_select(Product.ordered, :id, :name_with_article, returned_product.product_id), { include_blank: true }, { required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :count, class: "form-label" %>
        <%= form.number_field :count, autocomplete: "count", required: true, class: "form-input" %>
      </div>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>
