<%= tag.div id: dom_id(returned_product), class: "table-row hover:bg-gray-50" do %>
  <div class="table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <%= returned_product.product.name %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= number_with_delimiter returned_product.count %>
  </div>
  <div class="table-cell relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <div class="flex justify-end space-x-2">
      <% if allowed_to?(:edit?, @return, with: ReturnPolicy) %>
        <%= link_to t("actions.edit_record"), edit_return_returned_product_path(@return, returned_product), data: { turbo_frame: "_top" }, class: "edit_returned_product text-indigo-600 hover:text-indigo-900" %>
      <% end %>
      <% if allowed_to?(:destroy?, @return, with: ReturnPolicy) %>
        <%= link_to t("actions.destroy_record"), return_returned_product_path(@return, returned_product), data: { turbo_frame: dom_id(@return, :returned_products), turbo_method: :delete, turbo_confirm: t("actions.confirm") }, class: "destroy_returned_product text-red-600 hover:text-red-500" %>
      <% end %>
    </div>
  </div>
<% end %>
