<div class="p-4 min-h-full flex flex-col justify-between" data-controller="bridge--scanner" data-bridge-manual="true">

  <%= native_form_with model: location, url: waybills_locations_path, id: "location_form", html: { data: { turbo_action: "replace" } } do |form| %>
    <div class="space-y-6">
      <div class="bg-white p-4 rounded-lg space-y-6">
        <div class="space-y-2">
          <%= form.label :positionable_code, class: "form-label" %>

          <div class="flex flex-col space-y-2">
            <ul role="list" class="space-y-3"
                id="location_positionable_code"
                data-controller="scan-preview"
                data-scan-preview-preview-url-value="<%= new_scan_url %>"
                data-scan-preview-whitelist-value="T,P"
                data-scan-preview-input-name-value="location[positionable_code]">
            </ul>
            <button type="button" class="mobile-btn-xl"
                    data-action="bridge--scanner#show"
                    data-bridge--scanner-place-param="location_positionable_code"
                    data-bridge--scanner-save-mode-param="update">
              <%= t("actions.scan") %>
            </button>
          </div>
        </div>
      </div>
      <div class="bg-white p-4 rounded-lg space-y-6">
        <div class="space-y-2">
          <%= form.label :storable_codes, class: "form-label" %>
          <div class="flex flex-col space-y-2">
            <ul role="list" class="space-y-3"
                id="location_storable_codes"
                data-controller="scan-preview"
                data-scan-preview-preview-url-value="<%= new_scan_url %>"
                data-scan-preview-whitelist-value="B,P"
                data-scan-preview-input-name-value="location[storable_codes][]">
            </ul>
            <button type="button" class="mobile-btn-xl"
                    data-action="bridge--scanner#show"
                    data-bridge--scanner-place-param="location_storable_codes"
                    data-bridge--scanner-save-mode-param="prepend">
              <%= t("actions.scan") %>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="turbo-native:hidden">
      <%= form.submit t("actions.save_record"), class: "mobile-btn-xl" %>
    </div>
  <% end %>
</div>