<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: position %>
    <%= form_with model: [@sales_channel, @order, position],
                  class: "space-y-4",
                  data: { turbo: false, controller: "position", position_search_url: new_sales_channel_order_position_path(@sales_channel, @order) } do |form| %>
      <%= form.hidden_field :discounted_product_id %>

      <div>
        <%= form.label :product_id, class: "form-label" %>
        <%= form.select :product_id, options_from_collection_for_select(Product.ordered, :id, :name_with_article, position.product_id), { include_blank: true }, { required: true, class: "form-select", data: { action: "position#refreshPricesOnProduct" } } %>
      </div>

      <div>
        <%= form.label :count, class: "form-label" %>
        <%= form.number_field :count, autocomplete: "count", required: true, class: "form-input" %>
      </div>

      <div>
        <%= form.label :base_price, class: "form-label" %>
        <%= form.number_field :base_price, autocomplete: "base-price", readonly: true, class: "form-input", step: ".1" %>
      </div>

      <div>
        <%= form.label :promotion, class: "form-label" %>
        <%= text_field_tag "position[promotion]", position.discounted_product.present? ? position.discounted_product.promotion.name : "", autocomplete: "promotion", disabled: true, class: "form-input", step: ".1" %>
      </div>

      <div id="promotion_link">
        <% if position.discounted_product.present? %>
          <%= link_to t("actions.show_record"), promotion_path(position.discounted_product.promotion, readonly: true), target: "_blank", id: "promotion_link", class: "mt-4 text-sm leading-6 text-indigo-600" %>
        <% end %>
      </div>

      <div>
        <%= form.label :discounted_price, class: "form-label" %>
        <%= form.number_field :discounted_price, autocomplete: "discounted-price", readonly: true, class: "form-input", step: ".1" %>
      </div>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>
