<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full">
    <%= render "layouts/error_messages", resource: storage %>
    <%= form_with model: storage, class: "space-y-12" do |form| %>
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-4">
        <div>
          <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
        </div>
        <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-3">
          <div class="sm:col-span-4">
            <%= form.label :name, class: "form-label" %>
            <%= form.text_field :name, autocomplete: "name", autofocus: true, required: true, class: "form-input" %>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :kind, class: "form-label" %>
            <%= form.select :kind, options_for_enum_select(Storage, :kind, storage.kind), { required: true, include_blank: true }, class: "form-input" %>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-4">
        <div>
          <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.zones") %></h2>
        </div>
        <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-3">
          <% if storage.new_record? %>
            <div class="sm:col-span-4">
              <p class="mt-1 text-sm leading-6 text-gray-600"><%= t("forms.save_parent_record") %></p>
            </div>
          <% else %>
            <div class="sm:col-span-full">
              <%= turbo_frame_tag dom_id(storage, :zones), src: storage_zones_path(storage) do %>
                <%= inline_svg_tag "spinner.svg" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <%= form.submit t("actions.save_record"), class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>
</div>