<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: bank_account %>
    <%= form_with model: bank_account, class: "space-y-4" do |form| %>
      <div>
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, autocomplete: "name", autofocus: true, required: true, class: "form-input" %>
      </div>

      <div>
        <%= form.label :company_id, class: "form-label" %>
        <%= form.select :company_id, options_from_collection_for_select(Company.all, :id, :name, bank_account.company_id), { include_blank: true }, { required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :number, class: "form-label" %>
        <%= form.text_field :number, autocomplete: "number", required: true, class: "form-input" %>
      </div>

      <div class="relative flex gap-x-3">
        <div class="flex h-6 items-center">
          <%= form.check_box :main, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
        </div>
        <div class="text-sm leading-6">
          <%= form.label :main, class: "font-medium text-gray-900" %>
          <p class="text-gray-500"><%= t("forms.suppliable") %></p>
        </div>
      </div>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>