<div id="<%= dom_id machinery %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Packaged product:</strong>
    <%= machinery.packaged_product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Packing machine:</strong>
    <%= machinery.packing_machine_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= machinery.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= machinery.end_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Count:</strong>
    <%= machinery.count %>
  </p>

</div>
