<div class="flex flex-col justify-center px-6 lg:px-8"
     data-controller="generation"
     data-generation-plan-value="<%= @distributed_product.count %>"
     data-generation-fact-value="0"
     data-generation-min-delta-value="<%= @distributed_product.packaged_product.product.box_packagings.minimum(:count) %>"
     data-generation-passing-class="text-green-600"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <%= render "layouts/error_messages", resource: generation %>
    <%= form_with model: generation, url: production_plan_unit_batch_distribution_distributed_product_generation_path(@plan, @production_unit, @batch, @distributed_product), class: "space-y-4" do |form| %>

      <dl class="mx-auto grid grid-cols-1 gap-px bg-gray-900/5 sm:grid-cols-2">
        <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
          <dt class="text-sm sm:text-xl font-medium leading-6 text-gray-500"><%= t("tables.cols.plan") %></dt>
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900"><%= @distributed_product.count %></dd>
        </div>
        <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
          <dt class="text-sm sm:text-xl font-medium leading-6 text-gray-500"><%= t("tables.cols.fact") %></dt>
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900" data-generation-target="counter">0</dd>
        </div>
      </dl>

      <% @distributed_product.packaged_product.product.box_packagings.each_with_index do |box_packaging, index| %>
        <div>
          <%= label_tag "box_packaging_name", box_packaging_label(box_packaging), class: "form-label-xl" %>
          <%= hidden_field_tag "generation[box_requests_attributes][#{index}][box_packaging_id]", box_packaging.id %>
          <div class="mt-2 flex rounded-md shadow-sm">
            <span id="<%= box_packaging.id %>" class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 px-3 text-gray-500 sm:text-xl"><%= 0 %></span>
            <%= number_field_tag "generation[box_requests_attributes][#{index}][count]", 0,
                                 data: { generation_target: "input", generation_id_param: box_packaging.id, generation_multiplier_param: box_packaging.count, action: "keyup->generation#refreshCounter" },
                                 class: "block w-full min-w-0 flex-1 rounded-none rounded-r-md border-0 py-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6"
            %>
          </div>
        </div>
      <% end %>

      <%= form.submit t("actions.save_record"), disabled: true, data: { generation_target: "submit", turbo_confirm: t("actions.confirm") }, class: "w-full btn-xl" %>
    <% end %>
  </div>
</div>
