<div class="relative flex items-center space-x-3 rounded-lg bg-white px-6 py-5 shadow-sm<%= unit_color production_unit %>">
  <div class="min-w-0 flex-1">
    <%= link_to production_plan_unit_path(@plan, production_unit), class: "focus:outline-none", id: dom_id(production_unit), data: { turbo_frame: "_top" } do %>
      <p class="text-xl font-semibold text-gray-900"><%= production_unit.group.name %></p>
      <div class="mt-4 flex flex-col space-y-1">
        <div class="flex justify-between text-md">
          <span class="font-medium text-gray-500"><%= t("tables.cols.tonnage") %></span>
          <span class="font-semibold text-gray-700"><%= production_unit.produced_tonnage %> / <%= production_unit.tonnage %></span>
        </div>
        <div class="flex justify-between text-md">
          <span class="font-medium text-gray-500"><%= t("tables.cols.count") %></span>
          <span class="font-semibold text-gray-700"><%= number_with_delimiter production_unit.produced_count %> / <%= number_with_delimiter production_unit.count %></span>
        </div>
        <div class="flex justify-between text-md">
          <span class="font-medium text-gray-500"><%= t("tables.cols.status") %></span>
          <span class="font-semibold text-gray-700"><%= ProductionUnit.enum_to_s(:statuses, production_unit.status) %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>