<% content_for(:title) { @production_unit.group.name } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: production_plans_path(kind: @plan.kind), title: t("pages.#{ @plan.kind }_production_plans")),
      NavLink.new(path: production_plan_path(@plan), title: t("pages.production_plan", date: l(@plan.production_date))),
      NavLink.new(path: production_plan_unit_path(@plan, @production_unit), title: @production_unit.group.name),
    ]
  } %>
<% end %>

<div>
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900"><%= @production_unit.group.name %></h1>
    <%= render "action", production_unit: @production_unit %>
  </div>
  <div class="mt-6" aria-hidden="true">
    <div class="overflow-hidden rounded-full bg-gray-200">
      <div class="h-2 rounded-full bg-indigo-600" style="width: <%= @production_unit.progress %>%"></div>
    </div>
  </div>

  <%= render "stats", production_unit: @production_unit %>

  <% if @production_unit.cancelled? %>
    <div class="mt-6 flex justify-between">
      <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900"><%= t("forms.cancel_reason") %></h1>
      <%= text_area_tag :comment, @production_unit.comment, class: "form-area w-1/3", readonly: true %>
    </div>
  <% end %>

  <div class="mt-10">
    <div class="flex items-center justify-between">
      <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900"><%= t("forms.batches") %></h1>
      <% if @production_unit.in_progress? %>
        <%= link_to t("actions.create_batch"), new_production_plan_unit_batch_path(@plan, @production_unit), data: { turbo_frame: "_top" }, class: "btn-start" %>
      <% end %>
    </div>

    <div class="mt-6">
      <%= turbo_frame_tag dom_id(@production_unit, :batches), src: production_plan_unit_batches_path(@plan, @production_unit) do %>
        <%= inline_svg_tag "spinner.svg" %>
      <% end %>
    </div>
  </div>
</div>