<div class="flex flex-col justify-center">
  <div class="sm:mx-auto sm:w-full">
    <%= fields_for @scan do |form| %>
      <div>
        <div class="space-y-4">
          <div class="grid grid-cols-1 gap-x-8 gap-y-4 border-b border-gray-900/10 pb-6 md:grid-cols-4">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6 md:col-span-3">
              <div class="sm:col-span-4">
                <%= form.label :code, class: "form-label" %>
                <%= form.text_field :code, disabled: true, class: "mt-2 form-input" %>
              </div>
              <div class="sm:col-span-4">
                <%= form.label :scanned_at, class: "form-label" %>
                <%= form.datetime_field :scanned_at, disabled: true, class: "mt-2 form-input" %>
              </div>
            </div>
          </div>
          <%= render "position", scan: @scan %>
          <div class="grid grid-cols-1 gap-x-8 gap-y-4 border-b border-gray-900/10 pb-6 md:grid-cols-4">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.boxes") %></h2>
              <h3 class="text-sm font-medium leading-6 text-gray-500"><%= t("forms.count", with: @scan.all_boxes.count) %></h3>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6 md:col-span-3">
              <div class="sm:col-span-full">
                <%= turbo_frame_tag :location_boxes, src: location_boxes_path(@scan, @scan.model_name.human, scanning: true) do %>
                  <%= inline_svg_tag "spinner.svg" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>