<%= tag.li class: "overflow-hidden rounded-md border px-4 py-2", data: { controller: "empty-list-item" } do %>
  <dl data-controller="detail" data-detail-open-value="true">
    <dt>
      <button type="button" data-action="detail#toggle" class="flex w-full items-start justify-between text-left text-red-600" aria-controls="<%= @code %>" aria-expanded="false">
        <span class="text-xs font-semibold leading-6"><%= @code %></span>
        <span class="flex h-7 items-center">
          <%= inline_svg_tag "plus-sm.svg", class: "size-6", data: { detail_target: "opener" } %>
          <%= inline_svg_tag "minus-sm.svg", class: "size-6", data: { detail_target: "closer" } %>
        </span>
      </button>
    </dt>
    <dd class="mt-2"
        data-detail-target="summary"
        data-transition-enter="transition ease-out duration-100"
        data-transition-enter-start="transform opacity-0 scale-95"
        data-transition-enter-end="transform opacity-100 scale-100"
        data-transition-leave="transition ease-in duration-75"
        data-transition-leave-start="transform opacity-100 scale-100"
        data-transition-leave-end="transform opacity-0 scale-95">

      <div class="flex justify-between">
        <span class="text-xs font-semibold text-gray-900"><%= t("actions.code_not_found") %></span>
        <button type="button" data-action="empty-list-item#close">
          <span class="flex h-7 items-center text-red-600">
            <%= inline_svg_tag "trash.svg", class: "size-6", data: { detail_target: "opener" } %>
          </span>
        </button>
      </div>
    </dd>
  </dl>
<% end %>

