<div class="flex flex-col justify-center">
  <div class="sm:mx-auto sm:w-full">
    <%= fields_for @scan do |form| %>
      <div>
        <div class="space-y-4">
          <div class="grid grid-cols-1 gap-x-8 gap-y-4 border-b border-gray-900/10 pb-6 md:grid-cols-4">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6 md:col-span-3">
              <div class="sm:col-span-4">
                <%= form.label :code, class: "form-label" %>
                <%= form.text_field :code, disabled: true, class: "mt-2 form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :display_index, class: "form-label" %>
                <%= form.text_field :display_index, readonly: true, class: "mt-2 form-input" %>
              </div>
            </div>
          </div>
          <% position = @scan.current_position %>
          <% if position %>
            <div class="grid grid-cols-1 gap-x-8 gap-y-4 border-b border-gray-900/10 pb-6 md:grid-cols-4">
              <div>
                <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.location") %></h2>
              </div>
              <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6 md:col-span-3">
                <%= fields_for position do |pos_form| %>
                  <div class="sm:col-span-4">
                    <%= pos_form.label :name, class: "form-label" %>
                    <%= pos_form.text_field :name, disabled: true, class: "mt-2 form-input" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="grid grid-cols-1 gap-x-8 gap-y-4 border-b border-gray-900/10 pb-6 md:grid-cols-4">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.boxes") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6 md:col-span-3">
              <div class="sm:col-span-full">

              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-x-8 gap-y-4 border-b border-gray-900/10 pb-6 md:grid-cols-4">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.pallets") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6 md:col-span-3">
              <div class="sm:col-span-full">

              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>