<div class="p-6 min-h-full flex flex-col justify-between" data-controller="bridge--scanner" data-bridge-title="<%= t("pages.scan_qr") %>">
  <button class="hidden" data-controller="bridge--overflow-scanner" data-action="bridge--scanner#show">
    <%= t("actions.open_scanner") %>
  </button>

  <div class="bg-white p-6 rounded-lg space-y-6">
    <%= turbo_frame_tag :scan_result do %>
      <% if @scan %>
        <%= render partial: @scan.model_name.singular, scan: @scan %>
      <% else %>
        <div class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <%= inline_svg_tag "qrcode.svg", class: "mx-auto h-12 w-12 text-gray-400" %>
          <span class="mt-2 block text-sm font-semibold text-gray-900"><%= t("actions.scan_qr_code") %></span>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="mt-6 sticky bottom-0">
    <div class="bg-white p-6 rounded-lg space-y-6">
      <%= form_with url: scans_url, method: :get, class: "space-y-4", data: { turbo_frame: :scan_result } do |form| %>
        <div class="relative flex flex-grow items-stretch">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <%= inline_svg_tag "qrcode.svg", class: "size-6 text-gray-400" %>
          </div>
          <%= form.text_field :code, placeholder: t("actions.search_by_code"), data: { bridge__scanner_target: "code" }, class: "pl-10 form-input-xl" %>
        </div>
        <div>
          <%= form.submit t("actions.read_scan"), class: "btn-xl" %>
        </div>
      <% end %>
    </div>
  </div>
</div>