<div class="w-full flex flex-col">
  <% url = join_url(Current.account.join_code) %>

  <div class="space-y-4">
    <%= label_tag :invite_url, t("links.invite_url"), class: "form-label" %>
    <%= text_field_tag :invite_url, url, class: "form-input", readonly: true %>
  </div>

  <div class="mt-4 flex items-center justify-center space-x-2">
    <%= render "shared/qr_dialog", qr_text: url %>

    <%= button_to_copy_to_clipboard(url) do %>
      <%= inline_svg_tag "clipboard.svg", class: "h-6 w-6" %>
    <% end %>

    <%= web_share_button(url, t("links.web_share_url"), t("links.web_share_caution")) do %>
      <%= inline_svg_tag "share.svg", class: "h-6 w-6" %>
    <% end %>

    <% if Current.user.can_administer? %>
      <%= button_to account_join_code_path, class: "icon-btn" do %>
        <%= inline_svg_tag "refresh.svg", class: "h-6 w-6" %>
      <% end %>
    <% end %>
  </div>
</div>
