<div class="flex flex-col">
  <% url = session_transfer_url(user.transfer_id) %>

  <div class="space-y-4">
    <%= label_tag :session_transfer_url, t("links.transfer_url"), class: "form-label" %>
    <%= text_field_tag :session_transfer_url, url, class: "form-input", readonly: true %>
  </div>

  <div class="mt-4 flex items-center justify-center space-x-2">
    <div data-controller="dialog">
      <%= tag.button class: "icon-btn", data: { action: "dialog#open" } do %>
        <%= inline_svg_tag "qrcode.svg", class: "h-6 w-6" %>
      <% end %>

      <dialog class="dialog shadow p-6 bg-white rounded-md flex flex-col space-y-2 items-center" data-dialog-target="menu">
        <%= qr_code_image(url) %>
        <form method="dialog">
          <%= tag.button class: "icon-btn-danger", data: { action: "dialog#open" } do %>
            <%= inline_svg_tag "close.svg", class: "h-6 w-6" %>
          <% end %>
        </form>
      </dialog>
    </div>

    <%= button_to_copy_to_clipboard(url) do %>
      <%= inline_svg_tag "clipboard.svg", class: "h-6 w-6" %>
    <% end %>

    <%= web_share_button(url, t("links.web_share_url"), t("links.web_share_caution")) do %>
      <%= inline_svg_tag "share.svg", class: "h-6 w-6" %>
    <% end %>
  </div>
</div>
