<div class="table-row">
  <div class="table-cell w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-0">
    <%= link_to user.name, user_profile_path(user), class: "text-indigo-600" %>
    <dl class="font-normal lg:hidden">
      <dt class="sr-only"><%= t("tables.cols.status") %></dt>
      <dd class="mt-1 truncate text-gray-700"><%= user_status_tag user %></dd>
      <dt class="sr-only sm:hidden"><%= t("tables.cols.email_address") %></dt>
      <dd class="mt-1 truncate text-gray-500 sm:hidden"><%= user.email_address %></dd>
    </dl>
  </div>
  <div class="hidden lg:table-cell px-3 py-4 text-sm text-gray-500"><%= user_status_tag user %></div>
  <div class="hidden sm:table-cell px-3 py-4 text-sm text-gray-500"><%= user.email_address %></div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500"><%= User.enum_to_s(:role, user.role) %></div>
  <div class="table-cell py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
    <%= link_to t("actions.edit_record"), edit_user_path(user), class: "text-indigo-600 hover:text-indigo-900" %>
  </div>
</div>