<tr id=<%= dom_id(packaged_product) %>>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
    <%= packaged_product.product.name %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-700">
    <%= packaged_product.comment %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-700">
    <%= l packaged_product.start_time, format: :fact if packaged_product.start_time %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-700">
    <%= l packaged_product.end_time, format: :fact if packaged_product.end_time %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-700">
    <%= number_with_delimiter packaged_product.count %>
  </td>

  <% if @packing.in_progress? %>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
      <%= link_to t("actions.edit_record"), edit_production_plan_unit_batch_packing_packaged_product_path(@plan, @production_unit, @batch, packaged_product), data: { turbo_frame: "_top" }, class: "text-indigo-600 hover:text-indigo-900" %>
    </td>
  <% end %>
</tr>
<% packaged_product.machineries.each do |machinery| %>
  <tr id=<%= dom_id(machinery) %>>
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-900 sm:pl-0">
    </td>
    <td class="whitespace-nowrap px-3 py-4 font-medium text-sm text-gray-900">
      <%= machinery.material_asset.name %>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-700">
      <%= l machinery.start_time, format: :fact %>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-700">
      <%= l machinery.end_time, format: :fact %>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-700">
      <%= number_with_delimiter machinery.count %>
    </td>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
    </td>
  </tr>
<% end %>