<%= tag.div id: dom_id(sales_point), class: "table-row hover:bg-gray-50" do %>
  <div class="table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 <%= "line-through" unless sales_point.active? %>">
    <%= sales_point.name %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= sales_point.address %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= sales_point.phone_number %>
  </div>
  <% unless @readonly %>
    <div class="table-cell relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
      <div class="flex justify-end space-x-2">
        <%= link_to t("actions.edit_record"), edit_client_sales_point_path(@client, sales_point), data: { turbo_frame: "_top" }, class: "edit_sales_point text-indigo-600 hover:text-indigo-900" %>
        <% if sales_point.active? %>
          <%= link_to t("actions.destroy_record"), client_sales_point_path(@client, sales_point), data: { turbo_frame: "_top", turbo_method: :delete, turbo_confirm: t("actions.confirm") }, class: "destroy_sales_point text-red-600 hover:text-red-500" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>