<div class="p-4 min-h-full flex flex-col justify-between" data-controller="bridge--scanner" data-bridge-manual="true">
  <div class="space-y-6">
    <div class="bg-white p-4 rounded-lg">
      <%= native_form_with model: waybill, url: mobile_waybill_form_url(waybill), html: { data: { turbo_action: "replace" } } do |form| %>
        <div class="space-y-4"
             data-controller="storage departure"
             data-storage-search-url-value="<%= warehousers_search_path %>"
             data-departure-collectable-value="<%= waybill.collectable %>"
             data-departure-button-enabled-class="bg-indigo-600"
             data-departure-button-disabled-class="bg-gray-200"
             data-departure-span-enabled-class="translate-x-5"
             data-departure-span-disabled-class="translate-x-0"
        >
          <div>
            <%= form.label :storage_id, class: "form-label" %>
            <%= form.select :storage_id, options_from_collection_for_select(Current.user.storages.acceptable, :id, :name, waybill.storage_id), { include_blank: true }, { disabled: !waybill.draft?, required: true, class: "form-select" } %>
          </div>

          <div>
            <%= form.label :route_sheet_id, class: "form-label" %>
            <%= form.select :route_sheet_id, options_from_collection_for_select(RouteSheet.for_departure, :id, :display_label, waybill.route_sheet_id), { include_blank: true }, { disabled: !waybill.draft?, required: true, class: "form-select", data: { departure_target: "sheet" } } %>
          </div>

          <div>
            <%= form.label :order_id, class: "form-label" %>
            <%= form.select :order_id, options_from_collection_for_select(Order.for_departure, :id, :display_label, waybill.order_id), { include_blank: true }, { disabled: !waybill.draft?, required: true, class: "form-select", data: { departure_target: "order" } } %>
          </div>

          <div>
            <%= label_tag "waybill_collectable", t("actions.require_route_sheet"), class: "form-label" %>
            <%= form.hidden_field :collectable, data: { departure_target: "collectable" } %>
            <button type="button" data-departure-target="button" data-action="departure#toggleCollectable" class="relative inline-flex h-6 w-11 shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-gray-200 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2" role="switch">
              <span aria-hidden="true" data-departure-target="span" class="pointer-events-none inline-block size-5 translate-x-0 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"></span>
            </button>
          </div>
        </div>

        <div class="turbo-native:hidden">
          <% if waybill.new_record? %>
            <%= form.submit t("actions.save_record_next") %>
          <% else %>
            <%= hidden_field_tag "waybill[status]", "approved" %>
            <%= form.submit t("actions.approve"), data: { turbo_confirm: t("actions.confirm") } %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if allowed_to?(:scan?, waybill, with: DeparturePolicy) %>
      <div class="bg-white p-4 rounded-lg">
        <%= turbo_frame_tag dom_id(waybill, :qr_scans), src: waybills_qr_scans_path(waybill, allowed_prefixes: "Z:S") do %>
          <div class="flex justify-center">
            <%= inline_svg_tag "spinner.svg" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if allowed_to?(:scan?, waybill, with: DeparturePolicy) %>
    <div class="mt-6 sticky bottom-0">
      <div class="bg-white p-4 rounded-lg">
        <div class="flex flex-col space-y-1">
          <div class="flex space-x-1">
            <% if allowed_to?(:destroy?, waybill, with: DeparturePolicy) %>
              <div class="w-1/2">
                <%= button_to t("actions.destroy_record"), waybills_write_off_url(waybill), class: "mobile-btn-xl bg-red-500 text-white", method: :delete, data: { turbo_action: :replace, turbo_confirm: t("actions.confirm") } %>
              </div>
              <div class="w-1/2">
                <%= link_to t("pages.fifo"), waybills_recommendation_path(waybill), class: "mobile-btn-secondary-xl" %>
              </div>
            <% end %>
          </div>
          <button type="button" class="mobile-btn-xl"
                  data-action="bridge--scanner#show"
                  data-bridge--scanner-place-param="waybill_qr_scans"
                  data-bridge--scanner-save-mode-param="create">
            <%= t("actions.scan") %>
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>