<% content_for(:turbo_native_title) { t("pages.departure", id: @waybill.id) } %>

<% if allowed_to?(:edit?, @waybill, with: DeparturePolicy) %>
  <div class="turbo-native:hidden">
    <%= link_to t("actions.edit_record"), edit_waybills_departure_path(@waybill), data: { controller: "bridge--button", bridge_image: "", bridge_side: "right" } %>
  </div>
<% end %>

<div class="p-4 min-h-full flex flex-col justify-between">
  <div class="space-y-6">
    <div class="bg-white p-4 rounded-lg space-y-2">
      <%= fields_for @waybill do |form| %>
        <div class="flex justify-start">
          <%= render Mobile::StatusBadgeComponent.new record: @waybill %>
        </div>

        <div class="space-y-4">
          <div>
            <%= form.label :storage_id, class: "form-label" %>
            <%= form.select :storage_id, options_from_collection_for_select(Current.user.storages.acceptable, :id, :name, @waybill.storage_id), {}, { disabled: true, class: "form-select" } %>
          </div>

          <% if @waybill.route_sheet.present? %>
            <div>
              <%= form.label :route_sheet_id, class: "form-label" %>
              <div class="flex flex-col space-y-2">
                <%= render Mobile::RouteSheetComponent.new route_sheet: @waybill.route_sheet, is_open: false %>
              </div>
            </div>
          <% end %>

          <% if @waybill.order.present? %>
            <div>
              <%= form.label :order_id, class: "form-label" %>
              <%= form.select :order_id, options_from_collection_for_select(Order.all, :id, :display_label, @waybill.order_id), {}, { disabled: true, class: "form-select" } %>
            </div>
          <% end %>
        </div>

      <% end %>
    </div>

    <div class="bg-white p-4 rounded-lg">
      <%= turbo_frame_tag dom_id(@waybill, :qr_scans), src: waybills_qr_scans_path(@waybill, readonly: true) do %>
        <div class="flex justify-center">
          <%= inline_svg_tag "spinner.svg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>