<%= tag.div id: dom_id(line), class: "table-row hover:bg-gray-50" do %>
  <div class="table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 <%= "line-through text-red-500" unless line.active? %>">
    <%= link_to line.code, storage_zone_line_path(@storage, @zone, line), class: "text-indigo-600", data: { turbo_frame: "_top" } %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= line.display_index %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= number_with_delimiter 0 %>
  </div>
  <div class="table-cell relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <div class="flex justify-end space-x-2">
      <%= link_to t("actions.edit_record"), edit_storage_zone_line_path(@storage, @zone, line), data: { turbo_frame: "_top" }, class: "edit_line text-indigo-600 hover:text-indigo-900" %>
      <% if line.active? %>
        <%= button_to t("actions.destroy_record"), storage_zone_line_path(@storage, @zone, line), method: :delete, form: { data: { turbo_confirm: t("actions.confirm") }, class: "destroy_line text-red-600 hover:text-red-500" } %>
      <% end %>
    </div>
  </div>
<% end %>
