<% content_for(:title) { t("pages.route_sheet", id: @route_sheet.id) } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: shipments_path, title: t("pages.shipments")),
      NavLink.new(path: shipment_path(@shipment), title: t("pages.shipment", date: l(@shipment.shipping_date), region: @shipment.region.name)),
      NavLink.new(path: shipment_route_sheet_path(@shipment, @route_sheet), title: t("pages.route_sheet", id: @route_sheet.id)),
    ]
  } %>
<% end %>

<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full">
    <%= fields_for @route_sheet do |form| %>
      <div class="space-y-12">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
          </div>
          <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
            <div class="sm:col-span-4">
              <%= form.label :vehicle_plate_number, class: "form-label" %>
              <%= form.text_field :vehicle_plate_number, readonly: true, class: "form-input" %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :driver_name, class: "form-label" %>
              <%= form.text_field :driver_name, readonly: true, class: "form-input" %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :driver_phone_number, class: "form-label" %>
              <%= form.phone_field :driver_phone_number, readonly: true, class: "form-input" %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :comment, class: "form-label" %>
              <%= form.text_area :comment, readonly: true, class: "form-input" %>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.tracking_orders") %></h2>
          </div>
          <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
            <div class="sm:col-span-full">
              <%= turbo_frame_tag dom_id(@route_sheet, :tracking_orders), src: shipment_route_sheet_tracking_orders_path(@shipment, @route_sheet, readonly: true) do %>
                <%= inline_svg_tag "spinner.svg" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.tracking_products") %></h2>
          </div>
          <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
            <div class="sm:col-span-full">
              <%= turbo_frame_tag dom_id(@route_sheet, :tracking_products), src: shipment_route_sheet_tracking_products_path(@shipment, @route_sheet, readonly: true) do %>
                <%= inline_svg_tag "spinner.svg" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>