<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm" data-controller="field" data-field-kind-value="<%= field.kind %>" data-field-trigger-value="<%= field.trigger %>">
    <%= render "layouts/error_messages", resource: field %>
    <%= form_with model: [@group, field], class: "space-y-4" do |form| %>
      <div>
        <%= form.label :operation_id, class: "form-label" %>
        <%= form.select :operation_id, options_from_collection_for_select(@group.operations, :id, :name_with_journal, field.operation_id), { include_blank: true }, { disabled: !field.active?, required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, autocomplete: "name", disabled: !field.active?, autofocus: true, required: true, class: "form-input" %>
      </div>

      <div>
        <%= form.label :chain_order, class: "form-label" %>
        <%= form.number_field :chain_order, autocomplete: "chain-order", disabled: !field.active?, required: true, class: "form-input" %>
      </div>

      <div>
        <%= form.label :kind, class: "form-label" %>
        <%= form.select :kind, options_for_enum_select(Field, :kind, field.kind), { include_blank: true }, { disabled: !field.active?, required: true, class: "form-input", data: { action: "field#reveal" } } %>
      </div>

      <div class="hidden" data-field-target="measurement">
        <%= form.label :measurement_id, class: "form-label" %>
        <%= form.select :measurement_id, options_from_collection_for_select(Measurement.all, :id, :display_label, field.measurement_id), { include_blank: true }, { disabled: !field.active?, required: false, class: "form-select" } %>
      </div>

      <div class="hidden" data-field-target="standard">
        <%= form.label :standard_id, class: "form-label" %>
        <%= form.select :standard_id, options_from_collection_for_select(@group.standards, :id, :name, field.standard_id), { include_blank: true }, { disabled: !field.active?, required: false, class: "form-select" } %>
      </div>

      <div class="hidden" data-field-target="collection">
        <%= form.label :collection, class: "form-label" %>
        <%= form.select :collection, options_for_enum_select(Field, :collection, field.collection, excluded_options: [:unset]), { include_blank: true }, { disabled: !field.active?, required: false, class: "form-input" } %>
      </div>

      <div class="hidden" data-field-target="trigger">
        <%= form.label :trigger, class: "form-label" %>
        <%= form.select :trigger, options_for_enum_select(Field, :trigger, field.trigger), { include_blank: false }, { disabled: !field.active?, required: false, class: "form-input", data: { action: "field#track" } } %>
      </div>

      <div class="hidden" data-field-target="trackable">
        <%= form.label :trackable_id, class: "form-label" %>
        <%= form.select :trackable_id, options_from_collection_for_select(@group.available_trackable_fields(field), :id, :name_with_operation, field.trackable_id), { include_blank: true }, { disabled: !field.active?, required: true, class: "form-select" } %>
      </div>

      <div class="hidden" data-field-target="timeWindow">
        <%= form.label :time_window, class: "form-label" %>
        <%= form.number_field :time_window, autocomplete: "time-window", disabled: !field.active?, required: false, class: "form-input" %>
      </div>

      <% unless field.new_record? || field.active? %>
        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <%= form.check_box :active, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
          </div>
          <div class="text-sm leading-6">
            <%= form.label :active, class: "font-medium text-gray-900" %>
            <p class="text-gray-500"><%= t("forms.inactive_field") %></p>
          </div>
        </div>
      <% end %>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>
