<%= tag.div id: dom_id(consolidation), class: "table-row #{ consolidation.active? ? "hover:bg-gray-50" : "bg-red-50" }" do %>
  <div class="table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <%= consolidation.order.id %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= consolidation.order.client.name %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= number_with_delimiter consolidation.order.sum %>
  </div>
  <% unless @readonly %>
    <div class="table-cell relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
      <div class="flex justify-end space-x-2">
        <%= link_to t("actions.edit_record"), edit_plan_consolidation_path(@plan, consolidation), data: { turbo_frame: "_top" }, class: "edit_consolidation text-indigo-600 hover:text-indigo-900" %>
        <% if consolidation.active? %>
          <%= link_to t("actions.destroy_record"), plan_consolidation_path(@plan, consolidation), data: { turbo_frame: "_top", turbo_method: :delete, turbo_confirm: t("actions.confirm") }, class: "destroy_consolidation text-red-600 hover:text-red-500" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
