<% content_for(:title) { @box.code } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: boxes_path, title: t("pages.boxes")),
      NavLink.new(path: box_path(@box), title: @box.code)
    ]
  } %>
<% end %>

<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full">
    <%= fields_for @box do |form| %>
      <div>
        <div class="space-y-12">
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
              <div class="sm:col-span-4">
                <%= form.label :code, class: "form-label" %>
                <div class="flex items-end space-x-2">
                  <%= form.text_field :code, disabled: true, class: "mt-2 form-input" %>
                  <%= render "shared/qr_dialog", qr_text: @box.code %>
                </div>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :region_id, class: "form-label" %>
                <%= form.select :region_id, options_from_collection_for_select(Region.ordered, :id, :name, @box.region_id), {}, { disabled: true, class: "mt-2 form-input" } %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :product_id, class: "form-label" %>
                <%= form.select :product_id, options_from_collection_for_select(Product.all, :id, :name, @box.product_id), {}, { disabled: true, class: "mt-2 form-input" } %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :capacity, class: "form-label" %>
                <%= form.number_field :capacity, disabled: true, class: "mt-2 form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :production_date, class: "form-label" %>
                <%= form.date_field :production_date, disabled: true, class: "mt-2 form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :expiration_date, class: "form-label" %>
                <%= form.date_field :expiration_date, disabled: true, class: "mt-2 form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :scanned_at, class: "form-label" %>
                <%= form.datetime_field :scanned_at, disabled: true, class: "mt-2 form-input" %>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.box_request") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
              <%= fields_for @box.box_request do %>
                <%= fields_for @box.box_request.generation do |gen_form| %>
                  <%= fields_for @box.box_request.generation.distributed_product.distribution.batch do |batch_form| %>
                    <div class="sm:col-span-4">
                      <%= batch_form.label :id, class: "form-label" %>
                      <%= batch_form.text_field :id, disabled: true, class: "mt-2 form-input" %>
                    </div>
                  <% end %>
                  <div class="sm:col-span-4">
                    <%= gen_form.label :status, class: "form-label" %>
                    <%= gen_form.select :status, options_for_enum_select(Generation, :status, @box.box_request.generation.status), {}, { disabled: true, class: "mt-2 form-select" } %>
                  </div>
                <% end %>
                <%= fields_for @box.box_request.box_packaging do |pck_form| %>
                  <div class="sm:col-span-4">
                    <%= pck_form.label :material_asset_id, class: "form-label" %>
                    <%= pck_form.select :material_asset_id, options_from_collection_for_select(MaterialAsset.packings, :id, :name, @box.box_request.box_packaging.material_asset_id), {}, { disabled: true, class: "mt-2 form-input" } %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

          <% position = @box.current_position %>
          <% if position %>
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
              <div>
                <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.location") %></h2>
              </div>
              <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                <%= fields_for position do |pos_form| %>
                  <div class="sm:col-span-4">
                    <%= pos_form.label :code, class: "form-label" %>
                    <div class="flex items-end space-x-2">
                      <%= pos_form.text_field :code, disabled: true, class: "mt-2 form-input" %>
                      <%= render "shared/qr_dialog", qr_text: position.code %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>