<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: article %>
    <%= form_with model: article, class: "space-y-4" do |form| %>
      <%= form.hidden_field :kind %>

      <div>
        <%= form.label :activity_type_id, class: "form-label" %>
        <%= form.select :activity_type_id, options_from_collection_for_select(ActivityType.all, :id, :name, article.activity_type_id), { include_blank: true }, { required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :financial_category_id, class: "form-label" %>
        <%= form.select :financial_category_id, options_from_collection_for_select(@financial_categories, :id, :name, article.financial_category_id), { include_blank: true }, { required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, autocomplete: "name", autofocus: true, required: true, class: "form-input" %>
      </div>

      <div class="relative flex gap-x-3">
        <div class="flex h-6 items-center">
          <%= form.check_box :system, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
        </div>
        <div class="text-sm leading-6">
          <%= form.label :system, class: "font-medium text-gray-900" %>
          <p class="text-gray-500"><%= t("forms.system") %></p>
        </div>
      </div>

      <% if @kind == "expense" %>
        <div>
          <%= form.label :min_amount, class: "form-label" %>
          <%= form.number_field :min_amount, autocomplete: "min-amount", class: "form-input", step: ".1" %>
        </div>

        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <%= form.check_box :bypass_control, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
          </div>
          <div class="text-sm leading-6">
            <%= form.label :bypass_control, class: "font-medium text-gray-900" %>
            <p class="text-gray-500"><%= t("forms.bypass_control") %></p>
          </div>
        </div>

        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <%= form.check_box :suppliable, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
          </div>
          <div class="text-sm leading-6">
            <%= form.label :suppliable, class: "font-medium text-gray-900" %>
            <p class="text-gray-500"><%= t("forms.suppliable") %></p>
          </div>
        </div>
      <% end %>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>