<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: vendor %>
    <%= form_with model: [@material_asset, vendor], class: "space-y-4" do |form| %>
      <div>
        <%= form.label :supplier_id, class: "form-label" %>
        <%= form.select :supplier_id, options_from_collection_for_select(Supplier.all, :id, :name, vendor.supplier_id), { include_blank: true }, { disabled: !vendor.active?, required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :entry_price, class: "form-label" %>
        <%= form.number_field :entry_price, autocomplete: "entry-price", class: "form-input", step: ".01" %>
      </div>

      <div>
        <%= form.label :delivery_time_in_days, class: "form-label" %>
        <%= form.number_field :delivery_time_in_days, autocomplete: "delivery-time-in-days", class: "form-input" %>
      </div>

      <% unless vendor.new_record? || vendor.active? %>
        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <%= form.check_box :active, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
          </div>
          <div class="text-sm leading-6">
            <%= form.label :active, class: "font-medium text-gray-900" %>
            <p class="text-gray-500"><%= t("forms.inactive_field") %></p>
          </div>
        </div>
      <% end %>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>
