<div class="flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden rounded-lg border">
        <table class="min-w-full divide-y divide-gray-300" id="report-table">
          <thead class="divide-y divide-gray-300">
          <tr class="divide-x divide-gray-200">
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-xs font-semibold text-gray-900"></th>
            <% @all_months.each_with_index do |month, index| %>
              <th scope="col" colspan="<%= index == 0  ? 4 : 6 %>" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-center"><%= l month.to_date, format: :month %></th>
            <% end %>
          </tr>
          <tr class="divide-x divide-gray-200">
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-xs font-semibold text-gray-900"></th>
            <% @all_months.each_with_index do |_, index| %>
              <th scope="col" colspan="2" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-center bg-red-200"><%= t("tables.cols.returns") %></th>
              <th scope="col" colspan="2" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-center bg-blue-200"><%= t("tables.cols.sales") %></th>
              <% if index > 0 %>
                <th scope="col" colspan="2" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-center bg-yellow-200"><%= t("tables.cols.mom") %></th>
              <% end %>
            <% end %>
          </tr>
          <tr class="divide-x divide-gray-200 bg-gray-100">
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-xs font-semibold text-gray-900"><%= t("tables.cols.group") %> / <%= t("tables.cols.product") %></th>
            <% @all_months.each_with_index do |_, index| %>
              <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-right"><%= t("tables.cols.tonnage") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-right"><%= t("tables.cols.count_full") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-right"><%= t("tables.cols.tonnage") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-right"><%= t("tables.cols.count_full") %></th>
              <% if index > 0 %>
                <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-right bg-yellow-200"><%= t("tables.cols.percent_tonnage") %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-right bg-yellow-200"><%= t("tables.cols.percent_count") %></th>
              <% end %>
            <% end %>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <% @data.each do |group, products| %>
            <%= render "group", group: group, products: products %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
