<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full">
    <%= render "layouts/error_messages", resource: product %>
    <%= form_with model: product do |form| %>
      <div class="space-y-12">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
          </div>
          <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
            <div class="sm:col-span-4">
              <%= form.label :group_id, class: "form-label" %>
              <%= form.select :group_id, options_from_collection_for_select(Group.all, :id, :name, product.group_id), { include_blank: true }, { required: true, class: "mt-2 form-select" } %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :name, class: "form-label" %>
              <%= form.text_field :name, autocomplete: "name", autofocus: true, required: true, class: "mt-2 form-input" %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :article, class: "form-label" %>
              <%= form.text_field :article, autocomplete: "article", required: true, class: "mt-2 form-input" %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :fat_fraction, class: "form-label" %>
              <%= form.number_field :fat_fraction, autocomplete: "fat-fraction", required: true, class: "mt-2 form-input", step: ".1" %>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.packing_and_storing") %></h2>
          </div>
          <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
            <div class="sm:col-span-4">
              <%= form.label :packing, class: "form-label" %>
              <%= form.number_field :packing, autocomplete: "packing", required: true, class: "mt-2 form-input", step: ".1" %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :measurement_id, class: "form-label" %>
              <%= form.select :measurement_id, options_from_collection_for_select(Measurement.all, :id, :display_label, product.measurement_id), { include_blank: true }, { required: true, class: "mt-2 form-select" } %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :expiration_in_days, class: "form-label" %>
              <%= form.number_field :expiration_in_days, autocomplete: "expiration-in-days", class: "mt-2 form-input" %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :storage_conditions, class: "form-label" %>
              <%= form.text_field :storage_conditions, autocomplete: "storage-conditions", class: "mt-2 form-input" %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :material_asset_id, class: "form-label" %>
              <%= form.select :material_asset_id, options_from_collection_for_select(MaterialAsset.packings, :id, :name, product.material_asset_id), { include_blank: true }, { required: true, class: "mt-2 form-select" } %>
            </div>

            <% if product.new_record? %>
              <div class="sm:col-span-4">
                <p class="mt-1 text-sm leading-6 text-gray-600"><%= t("forms.save_parent_record") %></p>
              </div>
            <% else %>
              <div class="sm:col-span-full">
                <%= turbo_frame_tag dom_id(product, :box_packagings), src: product_box_packagings_path(product) do %>
                  <%= inline_svg_tag "spinner.svg" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.prices") %></h2>
          </div>
          <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
            <% if product.new_record? %>
              <div class="sm:col-span-4">
                <p class="mt-1 text-sm leading-6 text-gray-600"><%= t("forms.save_parent_record") %></p>
              </div>
            <% else %>
              <div class="sm:col-span-full">
                <%= turbo_frame_tag dom_id(product, :prices), src: product_prices_path(product) do %>
                  <%= inline_svg_tag "spinner.svg" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <%= form.submit t("actions.save_record"), class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>
</div>
