<div class="table-row">
  <div class="table-cell w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-0">
    <%= link_to product.group.name, group_path(product.group) %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= link_to product.name, product_path(product), class: "text-indigo-600" %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= product.article %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= "#{product.packing} (#{product.measurement.unit})" %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= product.expiration_in_days %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= number_to_percentage product.fat_fraction, precision: 1 %>
  </div>
  <div class="table-cell py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
    <%= link_to t("actions.edit_record"), edit_product_path(product), class: "text-indigo-600 hover:text-indigo-900" %>
  </div>
</div>