<li id="<%= record.id %>" class="relative flex justify-between gap-x-6">
  <div class="flex min-w-0 gap-x-4">
    <div class="flex w-16 shrink-0 items-center justify-center text-sm font-medium text-white bg-gray-500">
      <%= inline_svg_tag "reply.svg", class: "size-10" %>
    </div>
    <div class="min-w-0 flex-auto py-2">
      <p class="text-sm/6 font-semibold text-gray-900">
        <%= link_to tasks_return_path(record) do %>
          <span class="absolute inset-x-0 -top-px bottom-0"></span>
          <%= t("pages.return", id: record.id) %>
        <% end %>
      </p>
      <p class="mt-1 flex text-xxs text-gray-500">
        <%= record.storage.name %>
      </p>
    </div>
  </div>
  <div class="flex shrink-0 items-center gap-x-4 p-2">
    <div class="flex flex-col items-end">
      <%= render Mobile::StatusBadgeComponent.new record: record %>
      <p class="mt-1 text-xxs text-gray-500"><%= l record.created_at, format: :short %></p>
    </div>
  </div>
</li>