<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: material_asset %>
    <%= form_with model: material_asset, class: "space-y-4" do |form| %>
      <div>
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, autocomplete: "name", autofocus: true, required: true, class: "form-input" %>
      </div>

      <div>
        <%= form.label :category_id, class: "form-label" %>
        <%= form.select :category_id, options_from_collection_for_select(Category.combined_assets, :id, :name, material_asset.category_id), { include_blank: true }, { required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :supplier_id, class: "form-label" %>
        <%= form.select :supplier_id, options_from_collection_for_select(Supplier.all, :id, :name, material_asset.supplier_id), { include_blank: true }, { required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :article, class: "form-label" %>
        <%= form.text_field :article, autocomplete: "article", required: true, class: "form-input" %>
      </div>

      <div>
        <%= form.label :entry_price, class: "form-label" %>
        <%= form.number_field :entry_price, autocomplete: "entry-price", class: "form-input", step: ".01" %>
      </div>

      <div>
        <%= form.label :packing, class: "form-label" %>
        <%= form.number_field :packing, autocomplete: "packing", class: "form-input", step: ".001" %>
      </div>

      <div>
        <%= form.label :measurement_id, class: "form-label" %>
        <%= form.select :measurement_id, options_from_collection_for_select(Measurement.all, :id, :display_label, material_asset.measurement_id), { include_blank: true }, { class: "form-select" } %>
      </div>

      <div>
        <%= form.label :delivery_time_in_days, class: "form-label" %>
        <%= form.number_field :delivery_time_in_days, autocomplete: "delivery-time-in-days", class: "form-input" %>
      </div>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>
