<% content_for(:title) { @material_asset.name } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: material_assets_path, title: t("pages.material_assets")),
      NavLink.new(path: material_asset_path(@material_asset), title: @material_asset.name),
    ]
  } %>
<% end %>

<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full">
    <%= fields_for @material_asset do |form| %>
      <div>
        <div class="space-y-12">
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
              <div class="sm:col-span-4">
                <%= form.label :name, class: "form-label" %>
                <%= form.text_field :name, readonly: true, class: "form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :category_id, class: "form-label" %>
                <%= form.select :category_id, options_from_collection_for_select(Category.combined_assets, :id, :name, @material_asset.category_id), {}, { disabled: true, class: "form-select" } %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :article, class: "form-label" %>
                <%= form.text_field :article, readonly: true, class: "form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :packing, class: "form-label" %>
                <%= form.number_field :packing, readonly: true, class: "form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :measurement_id, class: "form-label" %>
                <%= form.select :measurement_id, options_from_collection_for_select(Measurement.all, :id, :display_label, @material_asset.measurement_id), {}, { disabled: true, class: "form-select" } %>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.vendors") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
              <div class="sm:col-span-full">
                <%= turbo_frame_tag dom_id(@material_asset, :vendors), src: material_asset_vendors_path(@material_asset, readonly: true) do %>
                  <%= inline_svg_tag "spinner.svg" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>