<tr data-id="<%= dom_id(sales_channel) %>_<%= dom_id(client) %>" class="divide-x divide-gray-200">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-xs uppercase font-semibold text-gray-700">
  </td>
  <td class="whitespace-nowrap px-3 py-4 font-semibold text-xs text-gray-700">
    <%= order.product %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 font-semibold text-xs text-gray-700 text-right">
    <%= number_with_delimiter order.total_count %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 font-semibold text-xs text-gray-700 text-right">
    <%= number_to_currency order.total_sum %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 font-semibold text-xs text-gray-700 text-right">
    <%= number_with_delimiter order.total_tonnage %>
  </td>
</tr>