<div class="flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden rounded-lg border">
        <table class="min-w-full divide-y divide-gray-300" id="report-table">
          <thead class="divide-y divide-gray-300">
          <tr class="divide-x divide-gray-200">
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-xs font-semibold text-gray-900 bg-gray-100"><%= t("tables.cols.sales_channel") %> / <%= t("tables.cols.client") %></th>
            <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 bg-gray-100"><%= t("tables.cols.product") %></th>
            <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-right bg-gray-100"><%= t("tables.cols.count_full") %></th>
            <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-right bg-gray-100"><%= t("tables.cols.sum") %></th>
            <th scope="col" class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900 text-right bg-gray-100"><%= t("tables.cols.tonnage") %></th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <% @data.each do |sales_channel, clients| %>
            <%= render "sales_channel", sales_channel: sales_channel, clients: clients %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
