<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render "layouts/error_messages", resource: ingredient %>
    <%= form_with model: [@group, ingredient], class: "space-y-4" do |form| %>
      <div>
        <%= form.label :material_asset_id, class: "form-label" %>
        <%= form.select :material_asset_id, options_from_collection_for_select(MaterialAsset.raw_products, :id, :display_label, ingredient.material_asset_id), { include_blank: true }, { disabled: action_name == "edit", required: true, class: "form-select" } %>
      </div>

      <div>
        <%= form.label :ratio, class: "form-label" %>
        <%= form.number_field :ratio, autocomplete: "ratio", required: true, class: "form-input", step: ".001" %>
      </div>

      <%= form.submit t("actions.save_record"), class: "btn" %>
    <% end %>
  </div>
</div>
