<%= tag.li id: dom_id(operation), class: "rounded-md bg-white p-6 shadow#{ step_color @batch, operation }" do %>
  <div class="grid grid-cols-1 gap-2">
    <div>
      <div class="text-xl leading-6 font-medium text-gray-900">
        <%= operation.name_with_index operation_counter + 1 %>
      </div>
      <div class="mt-4">
        <%= render "table", metrics: operation.metrics.filter_by_batch(@batch.id) %>
      </div>
      <div class="mt-4">
        <%= render "reason", operation: operation %>
      </div>
    </div>
    <div class="sm:flex sm:items-end sm:justify-end">
      <%= render "action", operation: operation %>
    </div>
  </div>
<% end %>