<% if metrics.any? %>
  <div class="flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"><%= t("tables.cols.field") %></th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t("tables.cols.plan") %></th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t("tables.cols.fact") %></th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
          <%= render partial: "metric", collection: metrics, as: :metric %>
          <%= render "reason", operation: operation %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>