<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <%= render "layouts/error_messages", resource: step %>
    <%= form_with model: step, url: production_plan_unit_batch_step_path(@plan, @production_unit, @batch, @step), class: "space-y-4" do |form| %>
      <% if should_cancel? %>
        <%= form.hidden_field :status, value: :cancelled %>

        <div>
          <%= form.label :comment, class: "form-label-xl" %>
          <%= form.text_area :comment, autocomplete: "comment", required: should_cancel?, class: "mt-2 form-input-xl" %>
        </div>

        <%= form.submit t("actions.force_finish"), class: "w-full btn-force-stop", data: { turbo_confirm: t("actions.confirm") } %>
      <% else %>
        <%= form.hidden_field :status, value: :completed %>

        <%= form.submit t("actions.finish"), class: "w-full btn-stop", data: { turbo_confirm: t("actions.confirm") } %>
      <% end %>
    <% end %>
  </div>
</div>