<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full">
    <%= render "layouts/error_messages", resource: order %>
    <%= form_with model: [@sales_channel, order], data: { turbo: !order.new_record? } do |form| %>
      <div class="space-y-12">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
          </div>
          <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2"
               data-controller="order"
               data-order-search-url="<%= new_sales_channel_order_path(@sales_channel) %>"
          >
            <div class="sm:col-span-4">
              <%= form.label :kind, class: "form-label" %>
              <div class="mt-6 space-y-6">
                <div class="flex items-center gap-x-3">
                  <%= form.radio_button :kind, "planned", class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
                  <%= label_tag "order_kind_planned", Order.enum_to_s(:kind, :planned), class: "block text-sm font-medium leading-6 text-gray-900" %>
                </div>
                <div class="flex items-center gap-x-3">
                  <%= form.radio_button :kind, "unscheduled", class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
                  <%= label_tag "order_kind_unscheduled", Order.enum_to_s(:kind, :unscheduled), class: "block text-sm font-medium leading-6 text-gray-900" %>
                </div>
              </div>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :client_id, class: "form-label" %>
              <%= form.select :client_id, options_from_collection_for_select(@clients, :id, :name, order.client_id), { include_blank: true }, { required: true, class: "mt-2 form-select", data: { action: "order#refreshSalesPoints" } } %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :sales_point_id, class: "form-label" %>
              <%= form.select :sales_point_id, option_groups_from_collection_for_select(@clients, :sales_points, :name, :id, :name, order.sales_point_id), { include_blank: true }, { required: true, class: "mt-2 form-select" } %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :preferred_date, class: "form-label" %>
              <%= form.date_field :preferred_date, autocomplete: "preferred-date", required: true, class: "mt-2 form-input" %>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-4">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.positions") %></h2>
          </div>
          <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-3">
            <% if order.new_record? %>
              <div class="sm:col-span-4">
                <p class="mt-1 text-sm leading-6 text-gray-600"><%= t("forms.save_parent_record") %></p>
              </div>
            <% else %>
              <div class="sm:col-span-full">
                <%= turbo_frame_tag dom_id(order, :positions), src: sales_channel_order_positions_path(@sales_channel, order, readonly: !order.can_edit?) do %>
                  <%= inline_svg_tag "spinner.svg" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <% if !order.new_record? && order.can_be_canceled? %>
          <%= link_to t("actions.cancel"), sales_channel_order_path(@sales_channel, order), data: { turbo_frame: "_top", turbo_method: :delete, turbo_confirm: t("actions.confirm") }, class: "destroy_order rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
        <% end %>
        <%= form.submit t("actions.save_record"), class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>
</div>
