<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Sales channel:</strong>
    <%= order.sales_channel_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= order.client_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sales point:</strong>
    <%= order.sales_point_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= order.kind %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preferred date:</strong>
    <%= order.preferred_date %>
  </p>

</div>
