<% content_for(:title) { t("pages.stack", index: @stack.display_index) } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: storages_path, title: t("pages.storages")),
      NavLink.new(path: edit_storage_path(@storage), title: @storage.name),
      NavLink.new(path: edit_storage_zone_path(@storage, @zone), title: t("pages.zone", index: @zone.display_index)),
      NavLink.new(path: edit_storage_zone_line_path(@storage, @zone, @line), title: t("pages.line", index: @line.display_index)),
      NavLink.new(path: storage_zone_line_stack_path(@storage, @zone, @line, @stack), title: t("pages.stack", index: @stack.display_index))
    ]
  } %>
<% end %>

<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full">
    <%= fields_for @stack do |form| %>
      <div>
        <div class="space-y-12">
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-4">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-3">
              <div class="sm:col-span-4">
                <%= form.label :code, class: "form-label" %>
                <div class="flex items-end space-x-2">
                  <%= form.text_field :code, disabled: true, class: "mt-2 form-input" %>
                  <%= render "shared/qr_dialog", qr_text: @stack.code %>
                  <% if @stack.qr_image.attached? %>
                    <%= link_to rails_blob_path(@stack.qr_image, disposition: "attachment"), class: "icon-btn" do %>
                      <%= inline_svg_tag "download.svg", class: "size-6" %>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :display_index, class: "form-label" %>
                <%= form.text_field :display_index, readonly: true, class: "mt-2 form-input" %>
              </div>
            </div>
          </div>
          <% position = @stack.current_position %>
          <% if position %>
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-4">
              <div>
                <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.location") %></h2>
              </div>
              <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-3">
                <%= fields_for position do |pos_form| %>
                  <div class="sm:col-span-4">
                    <%= pos_form.label :code, class: "form-label" %>
                    <div class="flex items-end space-x-2">
                      <%= pos_form.text_field :code, disabled: true, class: "mt-2 form-input" %>
                      <%= render "shared/qr_dialog", qr_text: position.code %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-4">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.boxes") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-3">
              <div class="sm:col-span-full">
                <%= turbo_frame_tag :location_boxes, src: location_boxes_path(@stack, @stack.model_name.name) do %>
                  <%= inline_svg_tag "spinner.svg" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-4">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.pallets") %></h2>
            </div>
            <div class="grid max-w-3xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-3">
              <div class="sm:col-span-full">
                <%= turbo_frame_tag :location_pallets, src: location_pallets_path(@stack, @stack.model_name.name) do %>
                  <%= inline_svg_tag "spinner.svg" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>