<% content_for(:title) { t("pages.cash_flow") } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: cash_flow_path, title: t("pages.cash_flow")),
    ]
  } %>
<% end %>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:mt-8 sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <%= form_with model: Transaction.new, url: cash_flow_path, id: "report-form", data: { turbo_frame: :cash_flow_report } do |form| %>
        <div class="flex space-x-8" data-controller="cash-flow">
          <div class="sm:flex sm:items-center sm:space-x-6 sm:space-y-0">
            <div class="flex items-center">
              <%= form.radio_button :trunc_period, "day", checked: true, data: { action: "click->cash-flow#selectPeriod" }, class: "relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden" %>
              <%= form.label :trunc_period_day, class: "ml-3 block text-sm/6 font-medium text-gray-900" %>
            </div>
            <div class="flex items-center">
              <%= form.radio_button :trunc_period, "month", data: { action: "click->cash-flow#selectPeriod" }, class: "relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden" %>
              <%= form.label :trunc_period_month, class: "ml-3 block text-sm/6 font-medium text-gray-900" %>
            </div>
            <div class="flex items-center">
              <%= form.radio_button :trunc_period, "year", data: { action: "click->cash-flow#selectPeriod" }, class: "relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden" %>
              <%= form.label :trunc_period_year, class: "ml-3 block text-sm/6 font-medium text-gray-900" %>
            </div>
          </div>

          <div class="flex space-x-2">
            <%= select_year Date.today, { start_year: 2024, end_year: Date.today.year, prefix: "transaction", field_name: "year_from" }, { data: { cash_flow_target: "from" }, class: "form-select" } %>
            <%= select_year Date.today, { start_year: 2024, end_year: Date.today.year, prefix: "transaction", field_name: "year_to" }, { data: { cash_flow_target: "to" }, class: "form-select" } %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mt-4 sm:ml-4 sm:mt-0 sm:flex-none">
      <button type="submit" class="btn-create" form="report-form">
        <%= inline_svg_tag "chart-square-bar.svg", class: "size-5" %>
        <%= t("actions.create_report") %>
      </button>
    </div>
  </div>
  <div class="-mx-4 mt-4 sm:mt-8 sm:-mx-0">
    <%= turbo_frame_tag :cash_flow_report do %>
      <div class="flex justify-center">
        <div class="text-center py-10">
          <%= inline_svg_tag "chart-square-bar.svg", class: "mx-auto size-12 text-gray-400" %>
          <h3 class="mt-2 text-sm font-semibold text-gray-900"><%= t("actions.no_data") %></h3>
          <p class="mt-1 text-sm text-gray-500"><%= t("actions.fill_report_data") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
