<div id="<%= dom_id supplier %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= supplier.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bin:</strong>
    <%= supplier.bin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact person:</strong>
    <%= supplier.contact_person %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Job title:</strong>
    <%= supplier.job_title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone numner:</strong>
    <%= supplier.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email address:</strong>
    <%= supplier.email_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Entity code:</strong>
    <%= supplier.entity_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank name:</strong>
    <%= supplier.bank_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank account:</strong>
    <%= supplier.bank_account %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank code:</strong>
    <%= supplier.bank_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= supplier.user_id %>
  </p>

</div>
