<li id="<%= dom_id(@qr_scan) %>" class="overflow-hidden rounded-md border p-4">
  <dl data-controller="detail" data-detail-open-value="<%= @is_open %>">
    <dt>
      <button type="button" data-action="detail#toggle" class="flex w-full items-center justify-between text-left text-gray-900" aria-controls="<%= dom_id(@qr_scan) %>_details" aria-expanded="false">
        <span class="flex flex-col space-y-1 items-start">
          <span class="text-xs font-semibold leading-6 text-green-600">
            <%= @qr_scan.box.code %>
          </span>
          <% unless @qr_scan.is_box? %>
            <span class="text-xs font-medium leading-6 text-gray-700 flex items-center space-x-1">
              <%= inline_svg_tag "arrow-narrow-right.svg", class: "size-5" %>
              <span><%= @qr_scan.code %></span>
            </span>
          <% end %>
        </span>
        <span class="flex h-7 items-center">
          <%= inline_svg_tag "plus-sm.svg", class: "h-6 w-6", data: { detail_target: "opener" } %>
          <%= inline_svg_tag "minus-sm.svg", class: "h-6 w-6", data: { detail_target: "closer" } %>
        </span>
      </button>
    </dt>
    <dd class="hidden mt-2"
        id="<%= dom_id(@qr_scan) %>_details"
        data-detail-target="summary"
        data-transition-enter="transition ease-out duration-100"
        data-transition-enter-start="transform opacity-0 scale-95"
        data-transition-enter-end="transform opacity-100 scale-100"
        data-transition-leave="transition ease-in duration-75"
        data-transition-leave-start="transform opacity-100 scale-100"
        data-transition-leave-end="transform opacity-0 scale-95">
      <ul role="list" class="divide-y divide-gray-200">
        <li class="py-2 flex justify-between">
          <span class="text-xs font-medium text-gray-700"><%= Box.human_attribute_name(:id) %></span>
          <span class="text-xs font-semibold text-gray-900"><%= @qr_scan.box.id %></span>
        </li>
        <li class="py-2 flex justify-between">
          <span class="text-xs font-medium text-gray-700"><%= Box.human_attribute_name(:code) %></span>
          <span class="text-xs font-semibold text-gray-900"><%= @qr_scan.box.code %></span>
        </li>
        <li class="py-2 flex justify-between">
          <span class="text-xs font-medium text-gray-700"><%= Box.human_attribute_name(:product_id) %></span>
          <span class="text-xs font-semibold text-gray-900"><%= @qr_scan.box.product.name %></span>
        </li>
        <li class="py-2 flex justify-between">
          <span class="text-xs font-medium text-gray-700"><%= Box.human_attribute_name(:region_id) %></span>
          <span class="text-xs font-semibold text-gray-900"><%= @qr_scan.box.region.name %></span>
        </li>
        <li class="py-2 flex justify-between">
          <span class="text-xs font-medium text-gray-700"><%= Box.human_attribute_name(:production_date) %></span>
          <span class="text-xs font-semibold text-gray-900"><%= l @qr_scan.box.production_date %></span>
        </li>
        <li class="py-2 flex justify-between">
          <span class="text-xs font-medium text-gray-700"><%= Box.human_attribute_name(:expiration_date) %></span>
          <span class="text-xs font-semibold text-gray-900"><%= l @qr_scan.box.expiration_date %></span>
        </li>
        <li class="py-2 flex justify-between">
          <span class="text-xs font-medium text-gray-700"><%= Box.human_attribute_name(:capacity_before) %></span>
          <span class="text-xs font-semibold text-gray-900"><%= @qr_scan.capacity_before %></span>
        </li>
        <li class="py-2 flex justify-between">
          <span class="text-xs font-medium text-gray-700"><%= Box.human_attribute_name(:capacity_after) %></span>
          <% if @with_capacity_input %>
            <div class="flex items-center space-x-2"
                 data-controller="counter"
                 data-counter-min-value="1"
                 data-counter-max-value="<%= @qr_scan.capacity_before %>"
                 data-counter-base-value="<%= @qr_scan.capacity_after %>"
                 data-counter-input-id-value="qr_scan_capacity_after"
            >
              <button type="button" class="bg-red-600 text-white rounded-full" data-action="counter#decrement">
                <%= inline_svg_tag "minus-sm.svg", class: "size-5" %>
              </button>
              <span class="text-xs font-semibold text-gray-900" data-counter-target="input"><%= @qr_scan.capacity_after %></span>
              <button type="button" class="bg-green-600 text-white rounded-full" data-action="counter#increment">
                <%= inline_svg_tag "plus-sm.svg", class: "size-5" %>
              </button>
            </div>
          <% else %>
            <span class="text-xs font-semibold text-gray-900"><%= @qr_scan.capacity_after %></span>
          <% end %>
        </li>

        <%= render Mobile::ScanLocationComponent.new sourceable: @qr_scan.box %>

        <% unless @readonly %>
          <% if helpers.allowed_to?(:destroy?, @qr_scan.waybill, with: policy) %>
            <% if @with_capacity_input %>
              <li class="py-2 flex justify-end">
                <%= form_with model: @qr_scan,
                              url: waybills_qr_scan_path(@qr_scan.waybill, @qr_scan, format: :turbo_stream),
                              method: :put,
                              data: { turbo_prefetch: false } do |form| %>
                  <%= form.hidden_field :capacity_after, min: 1, max: @qr_scan.capacity_before %>
                  <button type="submit" class="inline-flex items-center gap-x-1.5 rounded-md bg-indigo-600 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    <%= inline_svg_tag "check-circle.svg", class: "-ml-0.5 size-5" %>
                    <%= t("actions.save_record") %>
                  </button>
                <% end %>
              </li>
            <% else %>
              <li class="py-2 flex <%= adjustable? ? "justify-between" : "justify-end" %>">
                <% if adjustable? %>
                  <%= link_to edit_waybills_qr_scan_path(@qr_scan.waybill, @qr_scan, format: :turbo_stream), data: { turbo_prefetch: false }, class: "text-xs leading-6 font-medium text-indigo-600 hover:text-indigo-500" do %>
                    <%= inline_svg_tag "pencil-alt.svg", class: "size-5" %>
                  <% end %>
                <% end %>
                <%= link_to waybills_qr_scan_path(@qr_scan.waybill, @qr_scan), data: { turbo_method: :delete, turbo_confirm: t("actions.confirm") }, class: "text-xs leading-6 font-medium text-red-600 hover:text-red-500" do %>
                  <%= inline_svg_tag "trash.svg", class: "size-5" %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </dd>
  </dl>
</li>