<% if @position %>
  <li class="py-2 flex justify-between">
    <span class="text-xs font-medium text-gray-700"><%= @position.class.human_attribute_name(:code) %></span>
    <% if @position.model_name.human == "Storage" %>
      <span class="text-xs font-semibold text-gray-900"><%= @position.name %></span>
    <% else %>
      <% if @position.respond_to?(:display_index) %>
        <span class="text-xs font-semibold text-gray-900"><%= t("pages.#{ @position.model_name.singular }", index: @position.display_index) %></span>
      <% else %>
        <span class="text-xs font-semibold text-gray-900"><%= @position.code %></span>
      <% end %>
    <% end %>
  </li>
  <%= render Mobile::ScanLocationComponent.new sourceable: @position %>
<% end %>