<div class="sm:flex-auto">
  <%= form_tag supply_orders_path, data: {}, method: :get do %>
    <div class="flex rounded-md">
      <div class="flex flex-row">
        <%= date_field :search, :start_date, class: "block w-full rounded-none rounded-l-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        <%= date_field :search, :end_date, class: "block w-full rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
      <div class="ml-2 flex flex-row space-x-2">
        <%= search_enum_selector SupplyOrder, :payment_status, "form-select", t("tables.cols.payment_status") %>
        <%= search_enum_selector SupplyOrder, :delivery_status, "form-select", t("tables.cols.delivery_status") %>
      </div>
      <div class="ml-2 relative flex flex-grow items-stretch focus-within:z-10">
        <%= select :search, :supplier, options_from_collection_for_select(Supplier.all, :id, :name), { include_blank: t("tables.cols.supplier") }, { class: "form-select rounded-none rounded-l-md" } %>
      </div>
      <%= link_to supply_orders_path, class: "relative -ml-px inline-flex items-center gap-x-1.5 px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50" do %>
        <%= inline_svg_tag "refresh.svg", class: "-ml-0.5 h-5 w-5 text-gray-400" %>
      <% end %>
      <%= button_tag type: "submit", class: "relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50" do %>
        <%= inline_svg_tag "search.svg", class: "-ml-0.5 h-5 w-5 text-gray-400" %>
      <% end %>
    </div>
  <% end %>
</div>