<div class="mt-2 sm:mt-0 sm:flex-auto">
  <%= form_tag supply_orders_path, data: {}, method: :get do %>
    <div class="grid grid-cols-8 rounded-md gap-2">
      <div class="col-span-full md:col-span-4 lg:col-span-4 xl:col-span-3 grid grid-cols-2 gap-1">
        <%= date_field :search, :start_date, class: "form-input" %>
        <%= date_field :search, :end_date, class: "form-input" %>
      </div>
      <div class="col-span-full md:col-span-4 lg:col-span-4 xl:col-span-3 grid grid-cols-2 gap-1">
        <%= search_enum_selector SupplyOrder, :payment_status, "form-select", t("tables.cols.payment_status") %>
        <%= search_enum_selector SupplyOrder, :delivery_status, "form-select", t("tables.cols.delivery_status") %>
      </div>
      <div class="col-span-full xl:col-span-2 relative flex flex-grow items-stretch focus-within:z-10">
        <%= select :search, :supplier, options_from_collection_for_select(Supplier.all, :id, :name), { include_blank: t("tables.cols.supplier") }, { class: "form-select rounded-none rounded-l-md" } %>
        <%= link_to supply_orders_path, class: "relative -ml-px inline-flex items-center gap-x-1.5 px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50" do %>
          <%= inline_svg_tag "refresh.svg", class: "-ml-0.5 h-5 w-5 text-gray-400" %>
        <% end %>
        <%= button_tag type: "submit", class: "relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50" do %>
          <%= inline_svg_tag "search.svg", class: "-ml-0.5 h-5 w-5 text-gray-400" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>