<div class="table-row">
  <div class="table-cell w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-0">
    <%= link_to supply_order.id, supply_order_path(supply_order), class: "text-indigo-600" %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= l supply_order.created_at.to_date %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= supply_order.material_asset.name %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-900 font-medium">
    <%= number_with_delimiter supply_order.amount %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= supply_order.material_asset.measurement.unit %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= supply_order.material_asset.supplier.name %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= time_tag supply_order.payment_date %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= SupplyOrder.enum_to_s :payment_status, supply_order.payment_status %>
  </div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500">
    <%= SupplyOrder.enum_to_s :delivery_status, supply_order.delivery_status %>
  </div>
  <div class="table-cell py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
    <%= link_to t("actions.edit_record"), edit_supply_order_path(supply_order), class: "text-indigo-600 hover:text-indigo-900" %>
  </div>
</div>