<% content_for(:title) { t("pages.supply_order", id: @supply_order.id) } %>

<% content_for :breadcrumb do %>
  <%= render "layouts/breadcrumb", {
    nav_links: [
      NavLink.new(path: supply_orders_path, title: t("pages.supply_orders")),
      NavLink.new(path: supply_order_path(@supply_order), title: t("pages.supply_order", id: @supply_order.id))
    ]
  } %>
<% end %>

<div class="flex flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full">
    <%= fields_for @supply_order do |form| %>
      <div>
        <div class="space-y-12">
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.main_info") %></h2>
            </div>
            <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
              <div class="sm:col-span-4">
                <%= form.label :material_asset_id, class: "form-label" %>
                <%= form.select :material_asset_id, options_from_collection_for_select(MaterialAsset.combined_assets, :id, :display_label), {}, { disabled: true, class: "form-select" } %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :amount, class: "form-label" %>
                <%= form.number_field :amount, readonly: true, class: "form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :payment_date, class: "form-label" %>
                <%= form.date_field :payment_date, readonly: true, class: "form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :payment_status, class: "form-label" %>
                <%= text_field_tag :payment_status, SupplyOrder.enum_to_s(:payment_status, @supply_order.payment_status), readonly: true, class: "form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :delivery_status, class: "form-label" %>
                <%= text_field_tag :delivery_status, SupplyOrder.enum_to_s(:delivery_status, @supply_order.delivery_status), readonly: true, class: "form-input" %>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :vendor_id, class: "form-label" %>
                <%= form.select :vendor_id, options_from_collection_for_select(@vendors, :id, :display_label), {}, { disabled: true, class: "form-select" } %>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t("forms.bank_details") %></h2>
              <p class="mt-1 text-sm leading-6 text-gray-600"><%= t("forms.bank_details_extra") %></p>
            </div>
            <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
              <%= fields_for @supply_order.vendor.supplier do |supplier_form| %>
                <div class="sm:col-span-4">
                  <%= supplier_form.label :entity_code, class: "form-label" %>
                  <%= supplier_form.text_field :entity_code, readonly: true, class: "mt-2 form-input" %>
                </div>

                <div class="sm:col-span-4">
                  <%= supplier_form.label :bank_name, class: "form-label" %>
                  <%= supplier_form.text_field :bank_name, readonly: true, class: "mt-2 form-input" %>
                </div>

                <div class="sm:col-span-4">
                  <%= supplier_form.label :bank_account, class: "form-label" %>
                  <%= supplier_form.text_field :bank_account, readonly: true, class: "mt-2 form-input" %>
                </div>

                <div class="sm:col-span-4">
                  <%= supplier_form.label :bank_code, class: "form-label" %>
                  <%= supplier_form.text_field :bank_code, readonly: true, class: "mt-2 form-input" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>