<%# locals: (nav_links: []) -%>
<ol role="list" class="flex items-center space-x-4">
  <li>
    <div>
      <%= link_to root_path, class: "text-gray-400 hover:text-gray-500" do %>
        <%= inline_svg_tag "home-fill.svg", class: "h-5 w-5 flex-shrink-0" %>
        <span class="sr-only"><%= t("pages.home") %></span>
      <% end %>
    </div>
  </li>
  <% nav_links.each do |link| %>
    <li>
      <div class="flex items-center">
        <%= inline_svg_tag "arrow-right.svg", class: "h-5 w-5 flex-shrink-0 text-gray-400" %>
        <%= link_to link.title, link.path, class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" %>
      </div>
    </li>
  <% end %>
</ol>