<% nav_links = [
  NavLink.new(path: root_path, title: t("pages.home"), icon_name: "home.svg")
]
%>

<% settings_nav_links = [
  NavLink.new(path: users_path, title: t("pages.users"), icon_name: "users.svg"),
  NavLink.new(path: regions_path, title: t("pages.regions"), icon_name: "map.svg"),
  NavLink.new(path: sales_channels_path, title: t("pages.channels"), icon_name: "speakerphone.svg")
]
%>

<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
<div class="hidden lg:hidden relative z-50" role="dialog" aria-modal="true" data-sidebar-target="mobileMenu">
  <!-- Off-canvas menu backdrop, show/hide based on off-canvas menu state. -->
  <div class="hidden fixed inset-0 bg-gray-900/80" aria-hidden="true" data-sidebar-target="mobileOverlay"
       data-transition-enter="transition-opacity ease-linear duration-300"
       data-transition-enter-start="opacity-0"
       data-transition-enter-end="opacity-100"
       data-transition-leave="transition-opacity ease-linear duration-300"
       data-transition-leave-start="opacity-100"
       data-transition-leave-end="opacity-0">
  </div>

  <div class="fixed inset-0 flex">
    <!-- Off-canvas menu, show/hide based on off-canvas menu state. -->
    <div class="hidden relative mr-16 flex w-full max-w-xs flex-1" data-sidebar-target="mobileContent"
         data-transition-enter="transition ease-in-out duration-300 transform"
         data-transition-enter-start="-translate-x-full"
         data-transition-enter-end="translate-x-0"
         data-transition-leave="transition ease-in-out duration-300 transform"
         data-transition-leave-start="translate-x-0"
         data-transition-leave-end="-translate-x-full"
    >
      <!-- Close button, show/hide based on off-canvas menu state. -->
      <div class="absolute left-full top-0 flex w-16 justify-center pt-5"
           data-transition-enter="ease-in-out duration-300"
           data-transition-enter-start="opacity-0"
           data-transition-enter-end="opacity-100"
           data-transition-leave="ease-in-out duration-300"
           data-transition-leave-start="opacity-100"
           data-transition-leave-end="opacity-0"
      >
        <button type="button" class="-m-2.5 p-2.5" data-controller="hotkey" data-hotkey="Escape" data-action="sidebar#close">
          <span class="sr-only"><%= t("actions.close_sidebar") %></span>
          <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>

      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex grow flex-col overflow-y-auto bg-white px-6 pt-8 pb-4">
        <nav class="flex flex-1 flex-col">
          <ul role="list" class="flex flex-1 flex-col gap-y-7">
            <li>
              <ul role="list" class="-mx-2 space-y-1">
                <% nav_links.each do |link| %>
                  <%= nav_link link.path, link.title, link.icon_name %>
                <% end %>
              </ul>
            </li>
            <% if Current.user.can_administer? %>
              <li>
                <div class="text-xs font-semibold leading-6 text-gray-400"><%= t("pages.settings") %></div>
                <ul role="list" class="-mx-2 mt-2 space-y-1">
                  <% settings_nav_links.each do |link| %>
                    <%= nav_link link.path, link.title, link.icon_name %>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li class="mt-auto">
              <%= version_badge %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex grow flex-col overflow-y-auto border-r border-gray-200 bg-white px-6 pt-8 py-4">
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <ul role="list" class="-mx-2 space-y-1">
            <% nav_links.each do |link| %>
              <%= nav_link link.path, link.title, link.icon_name %>
            <% end %>
          </ul>
        </li>
        <% if Current.user.can_administer? %>
          <li>
            <div class="text-xs font-semibold leading-6 text-gray-400"><%= t("pages.settings") %></div>
            <ul role="list" class="-mx-2 mt-2 space-y-1">
              <% settings_nav_links.each do |link| %>
                <%= nav_link link.path, link.title, link.icon_name %>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li class="mt-auto">
          <%= version_badge %>
        </li>
      </ul>
    </nav>
  </div>
</div>
